<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <title>Cover Template · Bootstrap v5.3</title>
  <link href="bootstrap-5.3.8-dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="cover.css" rel="stylesheet" />
</head>

<body class="d-flex h-100 text-left text-bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Rizky Snack Tangerang</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Home</a>
          <a class="nav-link fw-bold py-1 px-0" href="#">Features</a>
          <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
          <a href="/login" class="nav-link fw-bold py-1 px-0">Login</a>
        </nav>
      </div>
    </header>
    <main class="px-3">
      <h1 class="text-center">Selamat datang di <br> Rizky Snack Tangerang</h1>
      <p class="lead text-">
        Di mulai sejak tahun 2009 dengan bermodalkan Rp 100 ribu. Sugiyono yang merupakan mantan pegawai swasta ini,
        merintis usaha kerupuk kemasan dari satu warung ke warung lainnya di sekitar rumah dan kawasan kantornya.
        <br>
        Seiring berjalannya waktupun, usaha kerupuk yang ia beri nama Rizky Snack semakin berkembang dengan konsep
        bisnis krupuk ball yang sekarang telah memiliki 12 agen menetap hingga terbang ke Nusa Tenggara Barat.
        <br>
        “Kalo kemasan kecil kan lumayan bungkusinnya jadi, kita terpikir kenapa ga yang ball aja dengan pangsa pasar
        para agen-agen. Jadi untuk teman-teman usaha pemula yang mau jual eceran juga bisa,” ujar Sugiyono.
        <br>
        Untuk mempertahankan eksistensi Rizky Snack, pria yang akrab disapa Pakdhe ini terus mengikuti tren kerupuk yang
        diminati di pasaran. Tentuny dengan harga yang jauh dari pasaran.
        <br>
        “Harga sesuai jenis ya, untuk cingklung ada rasa pedas dan jagung manis, harganya sekitar Rp 70 ribu. Sedangkan
        selondok pedas atau original,poco, dan kerupuk pedas dari Rp 43 ribu saja,” katanya.
        <br>
        Saking larisnya, Rizky Snack dapat memproduksi 250 ball disetiap harinya dengan raga varian rasa yang dimiliki.
        “Ya, Alhamdulillah kalo dikalkulasikan sekitar 5000 ball bisa kita produksi disetiap bulannya. Ini semua yang
        rutin kita buat karena sudah dipesan oleh agen-agen,” tutup dia.
      </p>
    </main>
    <footer class="mt-auto text-white-50">
      <p class="text-center">
        Developed for my family By
        <a href="https://www.linkedin.com/in/elgy-k-putra-198655195/" target="_blank" class="text-white">@Elgy</a>
      </p>
    </footer>
  </div>
</body>

</html>